/*GENERAL CSS*/
*{
    box-sizing:border-box;
}



/* MARGINS EN PADDINGS*/
/* POSITIONING CSS*/
/* Display Flex */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

/* Flex Direction */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Justify Content */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/* Align Items */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Align Content */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

/* Align Self */
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

/* Order */
.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

/* Grow and Shrink */
.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}
.text-center{
    text-align:center;
}

/*START PRAKTIJK*/

/*BODY TEXT*/
body{
    font-family: sourcesans;
    font-size: 16px;
    margin: 0;
}

.h1-home{
    font-family: lanenar;
    font-size: 36px;
    color: white;
    max-width: 600px;
}

.h2-home{
    font-family: lanenar;
    font-size: 32px;
}
.h3-green{
    font-family: lanenar;
    font-size: 24px;
    color: #a7cb00;
}
/*MARGIN & PADDING*/

.header-margin{
    padding-top: 70px;
}
.buildwith-margin {
    margin-top: 50px;
}
.margin-second{
    margin-top: 150px;
    margin-bottom: 78px;
}
.img-phones-center{
    margin-right: 100px;
}
.img-phones-sec-center{
    margin-left: 100px;
}
.img-padding{
    margin-bottom: -1px;
}
/*FONTS*/
@font-face {
    font-family: lanenar;
    src: url('../fonts/LANENAR_.ttf');
}
@font-face {
    font-family: sourcesans;
    src: url('../fonts/SourceSans3-VariableFont_wght.ttf');
}

/*HEADER*/
#hero-header{
    background-color: #1f9bc9;
}

.logoheader{
    padding-top: 75px;

}
.landingtext{
    font-family: sourcesans;
    color: white;
    font-size: 14px;

}
.maintextheader{
    color: white;
    font-size: 14px;
}
/*BUTTONS HEADER*/
.btn1header{
    font-family: sourcesans;
    font-weight: bold;
    font-size: 17px;
    background: #157ba1;
    color: white;
    padding: 15px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.btn2header {
    font-family: sourcesans;
    font-weight: bold;
    font-size: 17px;
    background: #a7cb00;
    color: white;
    padding: 15px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
a:visited, a:focus, a:active {
    color: white;
}
.btn2header:hover,.btn1header:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.headerimg{
    width: 800px;
    height: auto;
    margin-top: 50px;
}

/*ICON SECTION*/
.icon-home-size{
    width: 120px;
    height: auto;
}
.icon-home-second{
    width: 80px;
    height: auto;
    margin-right: 30px;
}
.buildwithp{
    max-width: 450px;
}
.iconptext{
    max-width: 250px;
}
/*CENTER CONTENT SMARTPHONE & TEXT WITH ICONS*/
.pgreen{
    color: #a7cb00;
    line-height: 0;
}
.icontextcenterdivp{
    max-width: 260px;
}
.h2ptext{
    max-width: 360px;
}
/*SECTON AWSOME FEATRES*/
.features-section{
    background: #f7f8fa;
    padding-top: 50px;
}
.features-section-p{
    max-width: 360px;
}
.text-left{
    width: 215px;
    text-align: right;
    margin-right: 62px;
}
.text-right {
    width: 215px;
    text-align: left;
    margin-left: 62px;
}
.text-margin-p{
    margin-bottom: 68px;
}
/*SCREENSHOT GALLERY SECTION*/
.screenshot-img{
    max-width: 140px;
    height: auto;
    margin: 20px;
    box-shadow: 0px 12px 18px -11px rgba(0, 0, 0, 0.66);
}
.margin-gallery{
    margin-bottom: 78px;
}
/*FOOTER SECTION TEXT*/
#footer-bg{
    background-color: #1f9bc9;
    padding-bottom: 50px;
}
.footer-h2{
    font-family: lanenar;
    font-size: 32px;
    color: white;
}
.footer-p{
    font-family: sourcesans;
    font-size: 16px;
    color: white;
}
/*FORM FOOTER*/
.form-imput{
    font-family: sourcesans;
    font-size: 16px 30px;
    padding: 15px;
    width: 300px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 0px; /* Geen afronding aan rechterkant */
    border-bottom-right-radius: 0px /* Geen afronding aan rechterkant */
}
.form-btn{
    padding: 15px 30px;
    background-color: #a7cb00;
    color: white;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 16px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px; /* Geen afronding aan linkerkant */
    border-bottom-left-radius: 0px; /* Geen afronding aan linkerkant */
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.form-btn:hover{
    background-color: rgba(21, 123, 161, 0.8);
}
.footer-input[type="email"]:focus {
    outline: none; /* Verwijdert de standaard outline */
}
/*SOCAIL MEDIA ICONS FOOTER*/
.social-icons{
    max-width: 180px;
}


