/*GENERAL CSS*/
*{
    box-sizing:border-box;
}

/*BODY TEXT*/
body{
    font-family: sourcesans;
    font-size: 16px;
    margin: 0 auto;
}

h1{
    font-family: lanenar;
    font-size: 36px;
    color: white;
}

h2{
    font-family: sourcesans;
    font-size: 32px;
}
h3{
    font-family: lanenar;
    font-size: 24px;
}

/* MARGINS EN PADDINGS*/
/* POSITIONING CSS*/
/* Display Flex */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

/* Flex Direction */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Justify Content */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/* Align Items */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Align Content */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

/* Align Self */
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

/* Order */
.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

/* Grow and Shrink */
.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}
.text-center{
    text-align:center;
}

 /*FONTS*/
@font-face {
    font-family: lanenar;
    src: url('../fonts/LANENAR_.ttf');
}
@font-face {
    font-family: sourcesans;
    src: url('../fonts/SourceSans3-VariableFont_wght.ttf');
}

/*HEADER*/
header{
    background-color: #1f9bc9;
    padding: 78px 0px;
}

.landingtext{
    font-family: sourcesans;
    color: white;
    font-size: 14px;

}

.maintextheader{
    color: white;
    font-size: 14px;
}
/*BUTTONS HEADER*/
.btn1header{
    font-family: sourcesans;
    font-weight: bold;
    font-size: 17px;
    background: #157ba1;
    color: white;
    padding: 15px;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.btn2header {
    font-family: sourcesans;
    font-weight: bold;
    font-size: 17px;
    background: #a7cb00;
    color: white;
    padding: 15px;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;


}
a:visited, a:focus, a:active {
    color: white;
}
.btn2header:hover,.btn1header:hover{
    background-color: rgba(255, 255, 255, 0.2);
}







